body {
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 500px;
    height: auto;
}

.title {
    margin: 20px 0;
    font-size: 24px;
    color: #333;
}

.links {
    list-style: none;
    padding: 0;
}

.link-item {
    margin: 10px 0;
}

.link {
    text-decoration: none;
    color: #0070f3;
    font-size: 20px;
}

.link:hover {
    text-decoration: underline;
}
